
/* Css de la pagina de partidos.html */
.partidos{
	padding: 70px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	justify-content:space-around;
}
.partidos__imagen{
	margin-top: 30px;
	width: 900px;
	@media only screen and (max-width: 450px) {
		width: 100px;
		height: 100px;
	}
}

